/* .banner-container img{
    height: 300px;
    width: 50%;
    margin: 20px;
    border-radius: ;
} */

.banner-container p{

}

.banner-container{
    display: flex;
    background-color: lightpink;
}